<!-- <p>Valores: {{super | json}}</p> -->

<!-- BARRA DE MENU PRINCIPAL -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="titulo col-xs-12 col-sm-6 col-md-6">
      <span class="navbar-brand">SUPERMERCADO</span>
    </div>
    <div class="buscador col-xs-12 col-sm-4 col-md-3">
      <div class="input-group">
        <input [(ngModel)]="searchText" class="form-control" placeholder="Buscar producto">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <i class="fa fa-search" aria-hidden="false"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="carrito col-xs-12 col-sm-2 col-md-3">
      <div class="nav navbar-nav navbar-right" id="carrito">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span class="badge">{{carrito.length}}</span>
            <span class="total-navegador">{{total | number:'.2-2'}} €</span>
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let prodCarrito of carrito">
              <div class="listaCarrito">
                <span class="item-left">
                  <app-carrito [prodCarrito]="prodCarrito"></app-carrito>
                </span>
                <span class="item-right">
                  <div class="botones-cantidades btn-group" role="group">
                    <button class="boton-cantidad" type="button" data-stepper-direction="down" (click)="restarCantidad()">–</button>
                    <input size="4" type="number" value="1" pattern="[0-9]" min="0" max="999" [(ngModel)]="cantidad">
                    <button class="boton-cantidad" data-stepper-direction="up" type="button" (click)="sumarCantidad()">+</button>
                  </div>
                  <button class="btn btn-xs">
                    <i class="fa fa-trash"></i>
                  </button>
                </span>
              </div>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <div class="facturaFinal">
                <p class="subtotal">Subtotal:
                  <span>{{subtotal}} €</span>
                </p>
                <p class="descuentos">Descuentos:
                  <span>{{descuentos}} €</span>
                </p>
                <p class="total">Total:
                  <span>{{total}} €</span>
                </p>
              </div>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- FN BARRA DE MENU PRINCIPAL -->

<div id="listado">
  <h4>Listado de productos</h4>
  <div class="row">
    <div *ngFor="let producto of supermercado | filtroProd: searchText" [class.active]="prod==prodSelec">
      <app-producto [producto]="producto" (prodAgregado)='agregarCarrito($event)'></app-producto>
    </div>
    <!-- Fin div *ngFor -->
  </div>
  <!-- Class row -->
</div>
<!-- Fin div id=listado -->
