<!-- <p>Valores: {{super | json}}</p> -->

  <!-- <div class="carrito col-lg-3">
    <div (click)="cambiarActivo()" id="carrito" [class.active]="activo">
      <span class="badge">{{carrito.numProductos}}</span>
      <span>
        <i class="fa fa-shopping-basket" aria-hidden="true"></i> {{ carrito.precio }}
        <i class="fa fa-eur" aria-hidden="true"></i>
      </span>
    </div>
  </div> -->

<!-- BARRA DE MENU PRINCIPAL -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="titulo col-xs-12 col-md-6 col-sm-6">
      <span class="navbar-brand">SUPERMERCADO</span>
    </div>
    <div class="buscador col-xs-12 col-md-4 col-sm-4">
      <div class="input-group">
        <input [(ngModel)]="searchText" class="form-control" placeholder="Buscar producto">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <i class="fa fa-search" aria-hidden="false"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="carrito col-xs-12 col-md-2 col-sm-2">
      <div class="nav navbar-nav navbar-right" id="carrito">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i> {{ carrito.precio }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
          </ul>
        </li>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- FN BARRA DE MENU PRINCIPAL -->

<div id="listado">
  <h4>Listado de productos</h4>
  <div class="row">
    <div *ngFor="let producto of supermercado | filtroProd: searchText" [class.active]="prod==prodSelec">
      <app-producto [producto]="producto"></app-producto>
    </div>
    <!-- Fin div *ngFor -->
  </div>
  <!-- Class row -->
</div>
<!-- Fin div id=listado -->
