<!-- <p>Valores: {{super | json}}</p> -->

<!-- BARRA DE MENU PRINCIPAL -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="titulo col-xs-12 col-sm-6 col-md-6">
      <span class="navbar-brand">SUPERMERCADO</span>
    </div>
    <div class="buscador col-xs-12 col-sm-4 col-md-3">
      <div class="input-group">
        <input [(ngModel)]="searchText" class="form-control" placeholder="Buscar producto">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <i class="fa fa-search" aria-hidden="false"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="carrito col-xs-12 col-sm-2 col-md-3">
      <div class="nav navbar-nav navbar-right" id="carrito">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span class="badge">{{carrito.length}}</span>
            <span class="total-navegador">{{total | number:'.2-2'}} €</span>
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let prodCarrito of carrito">
              <div class="listaCarrito">
                <app-carrito [prodCarrito]="prodCarrito"></app-carrito>
                <li role="separator" class="divisor"></li>
              </div>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <div class="facturaFinal">
                <p class="subtotal">Subtotal:
                  <span>{{subtotal | number:'.2-2'}} €</span>
                </p>
                <p class="descuentos">Descuentos:
                  <span>{{descuentos | number:'.2-2'}} €</span>
                </p>
                <p class="total">Total:
                  <span>{{total | number:'.2-2'}} €</span>
                </p>
              </div>
            </li>
            <div class="botonesCompra">
              <div class="vaciarCarrito" (click)="vaciarCarrito()">
                <span>Vaciar Cesta <i class="glyphicon glyphicon-trash"></i> </span>
              </div>
              <div class="tramitarCompra">
                Realizar Compra
              </div>
            </div>
          </ul>
        </li> <!--dropdown-->
      </div> <!--nav navbar-nav navbar-right-->
    </div> <!-- fin carrito col-xs-12 col-sm-2 col-md-3 -->
  </div> <!-- /.container-fluid -->
</nav> <!-- FN BARRA DE MENU PRINCIPAL -->

<div id="listado">
  <h4>Listado de productos</h4>
  <div class="row">
    <div *ngFor="let producto of supermercado | filtroProd: searchText">
      <app-producto [producto]="producto" (prodAgregado)='agregarCarrito($event)'></app-producto>
    </div>
    <!-- Fin div *ngFor -->
  </div>
  <!-- Class row -->
</div>
<!-- Fin div id=listado -->
