<!-- <div class="listaCarrito row">
  <div class="imagen col-xs-1 col-sm-1 col-md-1">
    <img src="{{prodCarrito.foto}}" alt="{{prodCarrito.nombre}}">
  </div>
  <div class="datos col-xs-5 col-sm-5 col-md-5">
    <span>{{prodCarrito.precio}} €</span>
    <span>{{prodCarrito.nombre}}</span>
  </div>
  <div class="unidades col-xs-1 col-sm-1 col-md-1">
    <span>{{prodCarrito.unidades}}</span>
  </div>
</div> -->

<!-- 
<span class="listaCarrito">
  <span class="item-left"> -->
      <img src="{{prodCarrito.foto}}" alt="{{prodCarrito.nombre}}">
      <span class="item-info">
          <span class="precioCarrito">{{prodCarrito.precio}} €</span>
          <span class="nombreCarrito">{{prodCarrito.nombre}}</span>
          <span class="unidadesCarrito">{{prodCarrito.unidades}}</span>
      </span>
  
