<div class="item-left">
  <img src="{{prodCarrito.foto}}" alt="{{prodCarrito.nombre}}">
  <span class="item-info">
    <span class="precioCarrito">{{prodCarrito.precio}} €</span>
    <span class="nombreCarrito">{{prodCarrito.nombre}}</span>
    <span class="unidadesCarrito">{{prodCarrito.unidades}}</span>
  </span>
</div>
<div class="item-right">
  <div class="botones-cantidades btn-group" role="group">
    <button class="boton-cantidad" type="button" data-stepper-direction="down" (click)="restarCantidad()">–</button>
    <input size="4" type="number" value="1" pattern="[0-9]" min="0" max="999" [(ngModel)]="cantidad">
    <button class="boton-cantidad" data-stepper-direction="up" type="button" (click)="sumarCantidad()">+</button>
  </div>
  <button class="btn btn-xs">
    <i class="fa fa-trash"></i>
  </button>
</div>
