.listaCarrito {
    height: 35px;
    width: 100%;
    text-align: right;
    font-size: 1em;
    margin-bottom: 10px;
    
    .item-right {
        font: #000;
    }
    a.dropdown-toggle {
        color: #232323;
    }
    a.dropdown-toggle[aria-expanded="true"] {
        background-image: none;
        background-color: rgb(184, 253, 184);
    }
    .facturaFinal,
    li {
        color: black;
    }
    .foto {
        clear: both;
        margin-bottom: 10px;
        margin-left: 15px;
        float: left;
        img {
            max-height: 40px;
            width: auto;
        }
    }
    .datosProductos {
        font-size: 1em;
        text-align: right;
        color: #000;
    }
    .precioNormal {
        font-size: 1.5em;
    }
    .precioOculto {
        display: none;
    }
    .precioAntes {
        position: relative;
    }
    .precioAntes:before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        right: 0;
        border-top: 1px solid;
        border-color: red;
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    .precioConOferta {
        font-size: 1.2em;
        color: red;
    }
    .badge {
        position: absolute;
        z-index: 1;
        left: 37%;
    }
    .botones-cantidades {
        color: #000;
        font-size: 0.7em;
        position: absolute;
        bottom: -55px;
        right: 15px;
        border: 1px solid #FFF;
        border-radius: 2rem;
        padding: 0.6rem .25rem;
        margin: 5px auto;
        display: inline-block;
        vertical-align: middle;
        background-color: #FFF;
    }

    input[type=number]{
        width:40%;
        cursor: default;
    }
    .boton-cantidad {
        background-color: #FFF;
        border-radius: 50%;
        width:20%;
    }
    .btnEliminar{
        position: relative;
        padding-top:10px;
        display:flex;
        align-items:center;
    }
}

.facturaFinal {
    margin-top: 30px;
    clear: both;
    padding: 10px;
    color: #000;
    font-size: 1em;
    text-align: right;
    .descuentos {
        color: red;
    }
    .total {
        font-weight: 600;
        font-size: 1.2em;
    }
}
