.listaCarrito {
    height: 35px;
    width: 100%;
    text-align: right;
    font-size: 1em;
    margin-bottom: 10px;
    &:hover {
        background-color: rgb(184, 253, 184);
    }
    .item-right {
        font: #000;
    }
    a.dropdown-toggle {
        color: #232323;
    }
    a.dropdown-toggle[aria-expanded="true"] {
        background-image: none;
        background-color: rgb(184, 253, 184);
    }
    .facturaFinal,
    li {
        color: black;
    }
    .foto {
        clear: both;
        margin-bottom: 10px;
        margin-left: 15px;
        float: left;
        img {
            max-height: 40px;
            width: auto;
        }
    }
    .datosProductos {
        font-size: 1em;
        text-align: right;
        color: #000;
    }
    .precioNormal {
        font-size: 1.5em;
        font-weight: 600;
    }
    .precioOculto {
        display: none;
    }
    .badge {
        position: absolute;
        z-index: 1;
        left: 37%;
    }
    .botones-cantidades {
        color: #000;
        font-size: 0.7em;
        position: absolute;
        bottom: -55px;
        right: 15px;
        border: 1px solid #FFF;
        border-radius: 2rem;
        padding: 0.6rem .25rem;
        margin: 5px auto;
        display: inline-block;
        vertical-align: middle;
        background-color: #FFF;
    }
    .boton-cantidad {
        background-color: #FFF;
        border-radius: 50%;
    }
    .btnEliminar{
        position: relative;
        display:flex;
        align-items:center;
    }
}

.facturaFinal {
    margin-top: 30px;
    clear: both;
    padding: 10px;
    color: #000;
    font-size: 1em;
    text-align: right;
    .descuentos {
        color: red;
    }
    .total {
        font-weight: 600;
        font-size: 1.2em;
    }
}
